*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.header{

    width: 100%;
    height: 90px;
    background: rgb(93, 94, 83);
    position: fixed;
    z-index: 1;
}
header{
    
}
.container{
    max-width: 1100px;
    margin: auto;

}
.logo{

    float: left;
    line-height: 65px;
}
.menu{

    float: right;
    line-height: 65px;
    position: relative;
    top: 10px;
}
.menu ul{

    display: flex;
    list-style: none;

}
body{

    background:#fffffa;
}
.menu a{

    display: block;
    padding:0px 20px;
    text-decoration: none;
    color: #fff;
    transition: all 500ms ease;
    font-size: 18px
    ;font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: 100px;
    text-align: center;
}
.menu a:hover{

    background: #cc673b;
    color: rgb(252, 252, 252) ;
text-align: center;
    padding: 0.5rem 2rem;
    font-size: 20px;



}
.menu .submenu{

    background: rgb(93, 94, 83);
    
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.menu .submenu li a{

    line-height: 50px;
}
.menu ul li a:hover + ul, .menu
.submenu:hover{
text-align: center;
    display: block;

}

.icon-facebook{

    position: relative;
    top: 100px;
}


.icon-instagram{

    position: relative;
    top: 100px;
}
.icon-phone{

    position: relative;
    top: 100px;
}
.icon-play{

    position: relative;
    top: 100px;
}
.icon-google{

    position: relative;
    top: 100px;
}
.icon-twitter{

    position: relative;
    top: 100px;
}
.icon-play{

    position: relative;
    top: 100px;
}
.container-bar{

    width: 100%;
    max-width: 55px;
    position: fixed;
    left: 0;
    top: 25%;
    
}
.container-bar a{

    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    transition: all 500ms ease;
    color: #fff;

}
.container-bar a:hover{

    background: #1c1c1c;
    
}
.container-bar .icon-facebook{

    background: #3b5998;
    border-radius: 0px 5px 0px 0px;

}
.container-bar .icon-twitter{
    background: #00acee;
    border-radius: 0px 0px 5px 0px;



}
.container-bar .icon-google{
background: #db4437;
}   
.container-bar .icon-instagram{

    background: #E1306C;
}
.container-bar #title{

    position: fixed;
    background: #1c1c1c;
    padding: 6px;
border-radius: 3px;
font-size: 15px;
margin-top: -4px;
transition: all 500ms ease;
opacity: 0;
visibility: hidden;
}
.container-bar #title:after{

    position: absolute;
    content: '';
    border-left: 7px solid transparent ;
    border-right: 6px solid #1c1c1c;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    right: 100%;
  
top: 10px;
}
.container-bar a:hover #title{

    opacity: 1;
    visibility: visible;
    margin-left: 30px;
}

#btn-social{

    display: none;

}

}
.boton{

    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    background: #00acee;
}
.menu1{

    line-height: 65px;
    position: relative;
    top: 10px;
    left: 100px;
    
    
}
.menu1 ul{

    display: flex;
    list-style: none;

}
.menu1 a{

    display: block;
    padding:0px 20px;
    text-decoration: none;
    color: #fff;
    transition: all 500ms ease;
    font-size: 18px
    ;font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: 100px;
    
}
.menu1 a:hover{

    background: #cc673b;
    color: rgb(252, 252, 252) ;

    padding: 0.5rem 2rem;
    font-size: 20px;


}
.menu1 .submenu1{

    background: rgb(93, 94, 83);
    
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.menu1 .submenu li a{

    line-height: 0px;
}
.menu1 ul li a:hover + ul, .menu1
.submenu1:hover{

    display: ;

}
.ga{


    position: relative;
    left: 300px;
    word-spacing: ;
}
.ser{
    position: relative
    ;left: 800px;
}
.con{

    position: relative;
    left: 400px;
}
.titulo{
    position: relative;
    left: 200px;
    bottom: 114px;
    color: #fff;
    font-weight: lighter;
}
.titulo1{

    position: relative;
    left: 200px;
    bottom:90px;
    color: #fff;
    font-weight: lighter;
}
.ins{
    position: relative;
    top: 100px;
    margin-left: 80px;
    line-height: 50px;
    margin-right: 60px;
}
.ins li
{
    font-size: 30px;
}